h3{
font-size:45px;
color:purple;
}
label{
font-size:25px;
color:#008000;
}
#placeholder
{
font-size:5px;
color:green;
}
fieldset
{
border:10px solid green;
width:500px;
height:800px
background-color:rgb(120,200,36);
}
input
{
font-size:25px;
color:purple;
}
input ::placeholder
{
color: purple;
font-style: italic;
text-align:left;
}
button{
font-size:35px;
color:purple;
border:5px;
background-color:hsl(200,50%,75%);
}
form{
background-color:white;
width:600px;
hight:800px;
Padding:40px;
margin:20px;
border-radius:38px;
}
body{
background-image: linear-gradient(to bottom right,green,purple);}